@model IEnumerable<MiniOglasnikZaBesplatneStvariMvc.Models.ItemTagViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IditemTag }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IditemTag }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
